body {
    background-color: pink;
}

.btn-success {
    background-color: #6479be;
}




#86cb92ff;

--shiny-shamrock: #71b48dff;
--charleston-green: #253031ff;
--dark-slate-gray: #315659ff;
--celadon-blue: #2978a0ff;