
{% extends 'base.html' %}

{% block head %}
    <title>Feedback</title>
{% endblock %}

{% block body %}
    <section id="shadedsection" class="shadedsection" style="padding: 19px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4" style="background: rgba(0,0,0,0);margin-bottom: 20px;">
                    <div id="profile-with-badges" style="border-radius: 9px;border-width: 2px;border-style: none;">
                        <div id="profilecard" style="background: rgba(0,0,0,0);padding-top: 12px;border-width: 1px;border-bottom: 1px solid rgba(33,37,41,0.06) ;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-person-fill border rounded-circle" style="font-size: 105px;border-width: 0px;border-style: none;">
                                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                            </svg>
                            <p class="text-secondary" style="padding-top: 9px;">User Name</p>
                        </div>
                        <div id="badge-showcase" style="padding-bottom: 20px;">
                            <h3>Badges</h3>
                            <div class="table-responsive table-borderless" style="margin-top: 20px;width: 217.984px;">
                                <table class="table table-bordered table-sm">
                                    <tbody>
                                        <tr style="height: 50px;">
                                            <td data-bss-hover-animate="swing"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                            <td data-bss-hover-animate="swing"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                            <td data-bss-hover-animate="swing"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                        </tr>
                                        <tr style="height: 50px;">
                                            <td data-bss-hover-animate="swing" style="padding-top: 13.8px;"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                            <td data-bss-hover-animate="swing" style="padding-top: 13.8px;"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                            <td data-bss-hover-animate="swing" style="padding-top: 13.8px;"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-8" style="background: rgba(0,0,0,0);margin: 0;margin-bottom: 20px;">
                    <div id="sidecard" style="margin-top: 20px;border-radius: 9px;">
                        <div id="sidecard-top" style="padding-bottom: 2.5px;border-bottom: 1px solid rgba(33,37,41,0.06) ;">
                            <h3 style="padding-top: 17px;margin-bottom: 0;padding-bottom: 12px;">Monthly Summary</h3>
                            <p class="text-secondary" style="font-size: 18px;">{{ progress_check }}&nbsp;Here is your month in review:<br></p>
                        </div>
{#conditionally render specific metrics and congratulate user when they have had a green month#}
                        {% if greenmonth %}
                        <div id="sidecard-body" class="sidecard-body" style="padding-top: 19px;padding-bottom: 8px;">
                            <ul class="text-left" style="font-size: 17px;margin: 0px;margin-bottom: 0;">
                                <li>Your energy usage for the month was: {{ data2 }} kWh</li>
                                <li>You reduced your energy consumption by {{ percentage_change }}% !</li>
                                <li>Your reduction in energy consumption saved you approx €{{ savings }}&nbsp;</li>
                                <li>You used {{ difference }}kWh less this month</li>
                            </ul>
                        </div>

                        <div id="sidecard-bottom">
                            <p data-bss-hover-animate="swing" style="margin: 0;padding-bottom: 14px;padding-top: 14px;"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i><br></p>
                            <p class="text-secondary" style="font-size: 16px;margin: 0;padding-top: 5px;">You have been awarded the Green {{ thismonth_full }} Badge.<br>Your actions have a real impact on the health of our planet. <br><br></p>
                        </div>

{#conditionally render if user failed to reduce consumption#}
                        {% else %}

                            <div id="sidecard-body" class="sidecard-body" style="padding-top: 19px;padding-bottom: 8px;">
                            <ul class="text-left" style="font-size: 17px;margin: 0px;margin-bottom: 0;">
                                <li>Your energy usage for the month was: {{ data2 }}kWh</li>
                                <li>Your energy consumption was {{ percentage_change }}% higher this month</li>
                                <li>You spent €{{ savings }} more on energy this month&nbsp;</li>
                                <li>You used {{ difference }}kWh more energy this month</li>
                            </ul>
                        </div>



                           <div id="sidecard-bottom">
                            <p data-bss-hover-animate="swing" style="margin: 0;padding-bottom: 14px;padding-top: 14px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="border rounded-circle rubberBand animated" style="background: var(--danger);padding: 7px;font-size: 49px;">
                                    <path d="M9.17163 16.1716C10.7337 14.6095 13.2664 14.6095 14.8285 16.1716M9 10H9.01M15 10H15.01M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg><br></p>
                               <p class="text-secondary" style="font-size: 16px;margin: 0;padding-top: 5px;">We know you're trying! Click <a href="https://www.seai.ie/home-energy/energy-saving-tips/"><strong>here</strong></a>&nbsp;for some energy saving tips<br>You have the power to make a real impact on the health of our planet. <br><br></p>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="graph-sect">
        <div class="container" style="padding: 40px;">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3 class="text-left" style="padding-bottom: 17px;">Your Progress</h3>
                        <div><canvas data-bss-chart="{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;November&quot;,&quot;December&quot;,&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Energy Usage&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;3100&quot;,&quot;3400&quot;,&quot;{{ janData }}&quot;,&quot;{{ febData }}&quot;,&quot;{{ marData }}&quot;,&quot;{{ aprData }}&quot;],&quot;fill&quot;:false,&quot;borderWidth&quot;:&quot;&quot;}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false,&quot;position&quot;:&quot;top&quot;,&quot;reverse&quot;:false},&quot;title&quot;:{&quot;display&quot;:false}}}"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="shadedsection-1" class="shadedsection">
        <div class="container" style="padding: 40px;">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <div style="text-align: center;">
                        <h3>How Do You Compare</h3>
                        <p class="text-secondary">Change needs to happen at an individual, community, county and national level.&nbsp;</p>
                        <ul class="list-unstyled" style="text-align: center;">
                            <li style="padding-top: 0px;margin-bottom: 14px;background: #f1f7fc;text-align: center;"><a class="btn btn-primary text-center" role="button" style="border-radius: 20px;width: 52%;text-align: right;" href="URL here">See how you compare to similar people in {{ county }}</a></li>
                            <li style="padding-top: 0px;margin-bottom: 14px;"><a class="btn btn-primary text-center" role="button" style="border-radius: 20px;width: 52%;" href="URL here">See how you compare to similar people in Ireland</a></li>
                            <li style="padding-top: 0px;margin-bottom: 14px;"><a class="btn btn-primary text-center" role="button" style="border-radius: 20px;width: 52%;" href="URL here">Explore how your community compares to the rest of Ireland</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <p>
{#{% for usage in data1 %}#}
{#            Your energy usage for the month is: {{ usage.Aug }}#}
{#            <br>#}
{#            Your energy usage for last month is: {{ usage.Jul }}#}
{#{% endfor %}#}

{#    <p>#}
{#    Current month is: {{ thismonth }}#}
{#        <br>#}
{#    Last month is: {{ lastmonth }}#}
{#    </p>#}
{##}
{##}
{#    <p>#}
{#    Your energy usage for the month is: {{ data2 }}#}
{#        <br>#}
{#    Your energy usage for last month is: {{ data3 }}#}
{#        <br>#}
{#    Your cost is : {{ cost }}#}
{#        <br>#}
{#    Your savings are: {{ savings }}#}
{#        <br>#}
{#    Your per kWh rate is: {{ rate }}#}
{##}
{#    <br>#}
{#        your county is {{ county }}#}
{#    <br>#}
{#    Data for jan is {{ janData }}<br>Data for feb is: {{ febData }}#}
{#    </p>#}
{#    <br>#}
{#    oil: {{ oil_savings }}<br>gas: {{ gas_savings }}<br> elec: {{ elec_savings }}#}
{##}
{#{%  load pinax_badges_tags %}#}
{##}
{#badges are: {% badges_for_user user as badges %}#}
{#    {% for b in badges %}#}
{#        {{ b.slug }}#}
{#    {% endfor %}#}
{% endblock %}