
{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div>
        <section class="login-clean">
            <form id="loginform" method="post">
                {% csrf_token %}
                <h2 class="sr-only">Login Form</h2>
                <div class="illustration"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-leaf">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 21c.5 -4.5 2.5 -8 7 -10"></path>
                        <path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z"></path>
                    </svg></div>
                <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background: rgb(64, 145, 108);">Log In</button></div><a class="forgot" href="/webapp/register">Don't have an account? <strong>Register</strong>&nbsp;<strong>now</strong></a>
            </form>
        </section>
    </div>

{% endblock %}



