
{% extends 'base.html' %}

{% block head %}
    <title>Logout</title>
{% endblock %}

{% block body %}
    <div>
        <section class="login-clean">
            <form id="loginform" method="">
                <h1 class="text-center" style="font-size: 73px;">👋<br></h1>
                <div class="illustration">
                    <h3 style="padding-top: 29px;">See You Soon</h3>
                    <p class="text-secondary" style="font-size: 18px;padding-top: 16px;">You have been successfully signed out<br></p><a class="forgot" href="/webapp" style="padding-top: 14px;"><strong>Click here to return Home</strong></a>
                </div>
            </form>
        </section>
    </div>
{% endblock %}



