{% extends 'base.html' %}
{% load friendshiptags %}

{% block head %}
    <title>Profile</title>
{% endblock %}


{% block body %}

{% friend_requests request.user %} <li style="padding-top: 0px;margin-bottom: 14px;background: #f1f7fc;text-align: center;"></li>
    <a class="btn btn-primary text-center" role="button" style="border-radius: 20px;width: 52%;text-align: right;" href="/webapp/manage_friends/accept/">Accept Request</a>

    Requests:{{ friend_reqs.User }}<br>
    Current friends:{{ current_friends }}<br>
    Requests sent:{{ requests_sent }}<br>

    {% friends request.user %}

{% endblock %}