{% extends 'base.html' %}
{% load friendshiptags %}

{% block head %}
    <title>Profile</title>
{% endblock %}
{% block body %}

<!DOCTYPE html>
    <section id="shadedsection" class="shadedsection" style="padding: 19px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4" style="background: rgba(0,0,0,0);margin-bottom: 20px;">
                    <div id="profile-with-badges" style="border-radius: 9px;border-width: 2px;border-style: none;">
                        <div id="profilecard" style="background: rgba(0,0,0,0);padding-top: 12px;border-width: 1px;border-bottom: 1px solid rgba(33,37,41,0.06) ;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-person-fill border rounded-circle" style="font-size: 105px;border-width: 0px;border-style: none;">
                                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                            </svg>
                            <p class="text-secondary" style="padding-top: 9px;">{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                        <div id="badge-showcase" style="padding-bottom: 20px;">
                            <h3>Badges</h3>
                            <div class="table-responsive table-borderless" style="margin-top: 20px;width: 217.984px;">
                                <table class="table table-bordered table-sm">
                                    <tbody>
                                        <tr style="height: 50px;">
                                            <td data-bss-hover-animate="swing"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                            <td data-bss-hover-animate="swing"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                            <td data-bss-hover-animate="swing"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                        </tr>
                                        <tr style="height: 50px;">
                                            <td data-bss-hover-animate="swing" style="padding-top: 13.8px;"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                            <td data-bss-hover-animate="swing" style="padding-top: 13.8px;"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i></td>
                                            <td data-bss-hover-animate="swing" style="padding-top: 13.8px;"><i class="fa fa-star border rounded-circle rubberBand animated" style="background: #74c69d;padding: 11px;font-size: 18px;"></i>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-8" style="background: rgba(0,0,0,0);margin: 0;margin-bottom: 20px;">
                    <div id="sidecard" style="margin-top: 20px;border-radius: 9px;">
                        <div id="sidecard-top" style="padding-bottom: 2.5px;border-bottom: 1px solid rgba(33,37,41,0.06) ;">
                            <h3 style="padding-top: 17px;margin-bottom: 0;padding-bottom: 12px;">Your Profile</h3>
                            <p class="text-secondary" style="font-size: 18px;">You reduced your energy consumption by {{ usagedata.reduction_percentage }}% this month !<br></p>
                        </div>
                        <div id="sidecard-body" class="sidecard-body" style="padding-top: 0;padding-bottom: 8px;">
                            <div id="sidecard-1" style="margin-top: 20px;border-radius: 9px;">
                                <div id="sidecard-top-1" style="padding-bottom: 2.5px;border-bottom: 1px solid rgba(33,37,41,0.06) ;">
                                    <h4 style="padding-top: 0;margin-bottom: 0;padding-bottom: 12px;">Energy Pledge</h4>
                                    <p class="text-secondary" style="font-size: 18px;">Check out {{ user.first_name }}'s latest energy pledge:<br></p>
                                </div>
                                <div id="sidecard-body-1" class="sidecard-body" style="padding-top: 19px;padding-bottom: 8px;">
                                    <p style="font-size: 18px;background: rgba(64,145,108,0.38);border-radius: 33px;margin-right: 35px;margin-left: 35px;padding-right: 5px;padding-left: 5px;">You pledged to reduce your energy consumption by 5% before June</p>
                                </div>
                                <div id="sidecard-bottom-1">
                                    <p class="text-secondary" style="font-size: 16px;margin: 0;padding-top: 5px;">You have 43 days left to succeed in your pledge.<br><a href='/webapp/feedback'><strong>Click here&nbsp;to view your progress</strong></a><br><br></p>
                                </div>
                            </div>
                        </div>
                        <div id="sidecard-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="graph-sect">
        <div class="container" style="padding: 40px;">
            <div class="row">

            </div>
        </div>
    </section>

    </section>


{#        <p>#}
{#        First name: {{ user.first_name }}#}
{#        <br>#}
{#        Last name: {{ user.last_name }}#}
{#        <br>#}
{#        Email address: {{ user.email }}#}
{#        <br>#}
{#        Last logged in: {{ user.last_login }}#}
{#        <br>#}
{#        County: {{ user.userprofile.county }}#}
{##}

   <h1>{% friends request.user %}</h1>

    </p>
{% endblock %}

